﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="scrollstyle" style="overflow-y: auto; height: 100%; padding-right: 15px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="padding: 0; margin: 0; background-color: #FFF;">
            <li class="breadcrumb-item text-primary">
                <b>
                    Sistem Pengelolaan Paket
                </b>
            </li>
            <li class="breadcrumb-item active"><b>Kelola Jenis Paket</b></li>
        </ol>
    </nav>
    <hr style="margin-top: .8em;">

    <input type="file" name="ctl00$MainContent$file" id="file" onchange="cekImage(this);" style="display: none;">

    <div id="MainContent_panelData" onkeypress="javascript:return jenisPaketForm(event, 'MainContent_linkCari')">

        <div class="md-form input-group mb-4 " style="margin-top: 0px; margin-bottom: 15px !important;">
            <a class="btn btn-primary rounded-pill waves-effect waves-light" data-toggle="modal" data-target="#createModal" style="padding: 10px 30px;"><i class="fas fa-plus"></i></a>
            <input name="ctl00$MainContent$txtCari" type="text" id="MainContent_txtCari" class="form-control form-cari" placeholder="Cari" />
            @* <a id="MainContent_linkCari" class="btn btn-primary btn-rounded waves-effect waves-light rounded-pill" href="javascript:__doPostBack(&#39;ctl00$MainContent$linkCari&#39;,&#39;&#39;)" style="padding: 10px 30px;"><i class="fas fa-search"></i></a> *@
        </div>
        <div class="container">
            <div class="scrollstyle" style="overflow-x: auto;">
                <div>
                    <table class="table table-sm table-hover table-bordered table-striped" cellspacing="0" rules="all" border="1" id="MainContent_gridData" style="width:100%;border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th class="text-center" style="background-color: #4285f4; color:white; font-weight:bold">No</th>
                                <th class="text-center" style="background-color: #4285f4; color:white; font-weight:bold">Nama Jenis Paket</th>
                                <th class="text-center" style="background-color: #4285f4; color:white; font-weight:bold">Status Jenis Paket</th>
                                <th class="text-center" style="background-color: #4285f4; color:white; font-weight:bold">Aksi</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Modal Create Jenis Paket -->
        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true" data-backdrop="false">
            <!-- Isi modal di sini -->
            <div class="modal-dialog modal-dialog-centered modal-dialog-bottom" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Tambah Jenis Paket</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Isi form create Jenis Alat di sini -->
                        <form id="createForm">
                            <div class="card-body">
                                <div class="form-group">
                                    <label style="font-weight: bold;" for="pak_nama_jenis">Nama Jenis Paket<b style="color: red">*</b></label><br>
                                    <span id="MainContent_reqAddSender" class="validator" style="display:none;">&nbsp;<i class="fas fa-exclamation-circle"></i></span>
                                    <input type="text" class="form-control" name="pak_nama_jenis" id="pak_nama_jenis" maxlength="25" style="display: inline;">
                                    <div class="mb-3"></div>
                                </div>

                                <div class="float-right" style="margin-bottom: 15px;">
                                    <a id="MainContent_linkCancelAdd" class="btn btn-secondary" asp-action="Index">Batal</a>
                                    <button type="button" class="btn btn-primary" onclick="simpan()">Simpan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Update Jenis Paket -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Update Jenis Paket</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="updateForm">
                            <input type="hidden" class="form-control" id="updatePakId" maxlength="25" style="display: inline;">
                            <div class="form-group">
                                <label for="update_pak_nama_jenis" style="font-weight: bold;">Nama Jenis Paket<b style="color: red">*</b></label>
                                <input type="text" class="form-control" id="updatePakNama" maxlength="25" style="display: inline;">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                        <button type="button" class="btn btn-primary" onclick="Edit()">Simpan</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal untuk Detail Informasi Jenis Paket -->
        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailModalLabel">Detail Jenis Paket</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p><strong>Nama Jenis Paket:</strong> <span id="detailPakNama"></span></p>
                        <p><strong>Status Jenis Paket:</strong> <span id="detailPakStatus"></span></p>

                        <!-- Tambahkan informasi lainnya sesuai kebutuhan -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<script>
    loadTable()

    function showUpdateModal(id_jenis, nama_jenis, status_jenis) {
        // Menetapkan nilai nama_jenis ke input atau elemen modal yang sesuai
        $('#updatePakNama').val(nama_jenis);
        $('#updatePakId').val(id_jenis);
        $('#updatePakStatus').val(status_jenis);

        // Menampilkan modal update
        $('#updateModal').modal('show');
    }


    function loadTable() {
        var hostname = "https://localhost:7120/"
        var url = hostname + "GetAllJenisPaket"
        var method = "GET"
        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var jenisPaketList = data.data;

                $('#tbody').empty();

                jenisPaketList.forEach(function (item, index) {
                    var statusText = (item.pak_status_jenis == 1) ? "Aktif" : "Non-Aktif";

                    var newRow = "<tr>" +
                        "<td class='text-center'>" + (index + 1) + "</td>" +
                        "<td>" + item.pak_nama_jenis + "</td>" +
                        "<td>" + statusText + "</td>" +
                        "<td class='text-center'>" +
                        "<a data-toggle='modal' data-target='#updateModal' data-backdrop='false' onclick='showUpdateModal(\"" + item.pak_id_jenis + "\", \"" + item.pak_nama_jenis + "\", \"" + item.pak_status_jenis + "\")'><i class='fas fa-edit'></i></a>" +
                        "&nbsp;&nbsp;&nbsp;" +
                        "<a href='#' class='delete-btn' data-pak-id='" + item.pak_id_jenis + "'><i class='fas fa-trash'></i></a>" +
                        "&nbsp;&nbsp;&nbsp;" +
                        "<a data-toggle='modal' data-target='#detailModal' data-backdrop='false' href='#' onclick='showDetail(\"" + item.pak_id_jenis + "\", \"" + item.pak_nama_jenis + "\", \"" + item.pak_status_jenis + "\")'><i class='fas fa-info-circle'></i></a>" +
                        "</td>" +
                        "</tr>";



                    $('#tbody').append(newRow);
                });

                // Attach click event to delete buttons
                $('.delete-btn').click(function () {
                    var pakId = $(this).data('pak-id');
                    confirmDelete(pakId);
                });
            },
        });
    }


    function simpan() {
        var pak_nama_jenis = document.getElementById("pak_nama_jenis").value;

        var hostname = "https://localhost:7120/";
        var url = hostname + "InsertJenisPaket?pak_nama_jenis=" + encodeURIComponent(pak_nama_jenis);
        var method = "POST";

        console.log(url);
        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (response) {
                if (response.status == 200) {
                    alert("Data Berhasil Ditambahkan");
                    // Redirect to the index page of the current controller
                    window.location.href = '/JenisPaket/Index';
                } else {
                    alert("Gagal menambahkan data. Cek konsol untuk detailnya.");
                    console.error(response);
                }
            },
            error: function (xhr, status, error) {
                alert("Terjadi kesalahan. Cek konsol untuk detailnya.");
                console.error(xhr);
            }
        });
    }

    function Edit() {
        var pak_id_jenis = document.getElementById("updatePakId").value
        var pak_nama_jenis = document.getElementById("updatePakNama").value

        var hostname = "https://localhost:7120/"
        var url = hostname + "UpdateJenisPaket"
        var method = "PUT"
        var input = {
            pak_id_jenis: pak_id_jenis,
            pak_nama_jenis: pak_nama_jenis,

        }
        var data = JSON.stringify(input)

        $.ajax({
            url: url,
            method: method,
            data: data,
            contentType: "application/json",
            success: function (data) {
                alert("Data Berhasil Diupdate")
                window.location.href = '/JenisPaket/Index';

            },
        });
    }

    function confirmDelete(pak_id_jenis) {
        var confirmation = confirm("Apakah Anda yakin ingin menghapus data?");
        if (confirmation) {
            hapus(pak_id_jenis);
        }
    }

    function hapus(pak_id_jenis) {
        var hostname = "https://localhost:7120/"
        var url = hostname + "DeleteJenisPaket?pak_id_jenis=" + pak_id_jenis
        var method = "DELETE"
        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                alert("Data Berhasil Dihapus");
                location.reload();
            },
            error: function (xhr, status, error) {
                alert("Gagal menghapus data. Cek konsol untuk detailnya.");
                console.error(xhr.responseText);
            }
        });
    }

    function showDetail(pak_id_jenis, pak_nama_jenis, pak_status_jenis) {
        console.log('showDetail called:', pak_id_jenis, pak_nama_jenis, pak_status_jenis)
        var statusText = (pak_status_jenis == 1) ? "Aktif" : "Non-Aktif";

        $('#detailPakId').text(pak_id_jenis)
        $('#detailPakNama').text(pak_nama_jenis)
        $('#detailPakStatus').text(statusText)
        $('#detailModal').modal('show')
    }



    function loadDataForUpdate(pak_id_jenis) {
        var hostname = "https://localhost:7120/";
        var url = hostname + "GetJenisPaket?pak_id_jenis=" + pak_id_jenis;
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var item = data.data;

                // Mengatur nilai input di modal update
                $('#update_pak_nama_jenis').val(item.pak_nama_jenis);
            },
        });
    }


    function showUpdate(pak_id_jenis, pak_nama_jenis) {
        console.log('showUpdate called:', pak_id_jenis, pak_nama_jenis)
        $('#updatePakId').text(pak_id_jenis);
        $('#updateModal').modal('show');

        // Memuat data untuk update saat modal ditampilkan
        loadDataForUpdate(pak_id_jenis);
    }

    function loadDataForUpdate(pak_id_jenis) {
        var hostname = "https://localhost:7120/";
        var url = hostname + "GetJenisPaket?pak_id_jenis=" + pak_id_jenis;
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var item = data.data;

                // Mengatur nilai input di modal update
                $('#updatePakNama').val(item.pak_nama_jenis);
            },
        });
    }





    // Menambahkan event listener untuk keypress pada textbox pencarian
    $("#MainContent_txtCari").on('keypress', function (e) {
        // Mengecek apakah tombol Enter ditekan (kode 13)
        if (e.which == 13) {
            // Memanggil fungsi pencarian
            cariData();
        }
    });

    // Fungsi pencarian data
    function cariData() {
        // Mendapatkan nilai teks dari textbox pencarian
        var keyword = $("#MainContent_txtCari").val();

        // Memanggil fungsi untuk memuat tabel dengan parameter pencarian nama
        loadTableWithSearch(keyword);
    }

    // Fungsi untuk memuat tabel dengan parameter pencarian nama
    function loadTableWithSearch(pak_nama_jenis) {
        var hostname = "https://localhost:7120/";
        var url = hostname + "GetAllJenisPaket?nama=" + encodeURIComponent(pak_nama_jenis);
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var jenisPaketList = data.data;

                $('#tbody').empty();

                jenisPaketList.forEach(function (item, index) {
                    var statusText = (item.pak_status_jenis == 1) ? "Aktif" : "Non-Aktif";

                    var newRow = "<tr>" +
                        "<td class='text-center'>" + (index + 1) + "</td>" +
                        "<td>" + item.pak_nama_jenis + "</td>" +
                        "<td>" + statusText + "</td>" +
                        "<td class='text-center'>" +
                        "<a data-toggle='modal' data-target='#updateModal' data-backdrop='false' onclick='showUpdateModal(\"" + item.pak_id_jenis + "\", \"" + item.pak_nama_jenis + "\", \"" + item.pak_status_jenis + "\")'><i class='fas fa-edit'></i></a>" +
                        "&nbsp;&nbsp;&nbsp;" +
                        "<a href='#' class='delete-btn' data-pak-id='" + item.pak_id_jenis + "'><i class='fas fa-trash'></i></a>" +
                        "&nbsp;&nbsp;&nbsp;" +
                        "<a data-toggle='modal' data-target='#detailModal' data-backdrop='false' href='#' onclick='showDetail(\"" + item.pak_id_jenis + "\", \"" + item.pak_nama_jenis + "\", \"" + item.pak_status_jenis + "\")'><i class='fas fa-info-circle'></i></a>" +
                        "</td>" +
                        "</tr>";

                    $('#tbody').append(newRow);
                });

                // Attach click event to delete buttons
                $('.delete-btn').click(function () {
                    var pakId = $(this).data('pak-id');
                    confirmDelete(pakId);
                });
            },
        });
    }

    // Memanggil fungsi loadTable saat halaman pertama kali dimuat
    loadTable();
</script>