@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Admin</title>
    <!-- Include your CSS and JavaScript files here -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ManagementPaket_MVC.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="favicon.png" />
    <link href="~/assets/Plugins/MDB-Pro_4.14.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/Plugins/MDB-Pro_4.14.1/css/mdb.min.css" rel="stylesheet" />
    <link href="~/assets/Plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/assets/Plugins/fontawesome-free-5.11.2-web/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/assets/Plugins/fontawesome-free-5.11.2-web/css/solid.min.css" rel="stylesheet" />
    <link href="~/assets/Styles/Style.css" rel="stylesheet" />
    <script src="~/assets/Plugins/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/assets/Plugins/fontawesome-free-5.11.2-web/js/fontawesome.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        function changestate(param) {
            if (param === "open") {
                $(".panelmenu").css("visibility", "visible");
                $("#menuOpen").css({ "cursor": "pointer", "display": "none" });
                $("#menuClose").css({ "cursor": "pointer", "display": "" });
            }
            else {
                $(".panelmenu").css("visibility", "hidden");
                $("#menuOpen").css({ "cursor": "pointer", "display": "" });
                $("#menuClose").css({ "cursor": "pointer", "display": "none" });
            }
        }

        function toggleLoginOptions() {
            var collapseElement = document.getElementById('collapse11');
            var isCollapsed = collapseElement.classList.contains('show');

            if (isCollapsed) {
                collapseElement.classList.remove('show');
            } else {
                collapseElement.classList.add('show');
            }
        }

        function updateLastLogin() {
            var lastLoginElement = document.getElementById("lastLogin");
            if (lastLoginElement) {
                var currentDateTime = new Date();

                var namaBulan = [
                    "Januari", "Februari", "Maret", "April", "Mei", "Juni",
                    "Juli", "Agustus", "September", "Oktober", "November", "Desember"
                ];

                var options = {
                    year: 'numeric',
                    month: 'numeric',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',

                };

                var formattedCurrentDateTime = currentDateTime.toLocaleDateString('id-ID', options);

                var bulanIndex = currentDateTime.getMonth();
                var splitFormattedDateTime = formattedCurrentDateTime.split('/');
                splitFormattedDateTime[1] = namaBulan[bulanIndex];

                var updatedFormattedDateTime = splitFormattedDateTime.join(' ');

                lastLoginElement.innerHTML = updatedFormattedDateTime + ' WIB';
            }
        }

        updateLastLogin();

        setInterval(updateLastLogin, 1000);
    </script>
</head>
<body>
    <div id="dashboardContent">
        <div id="mainDashboard" style="padding-top: 10px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col panelheader">
                        <i id="menuOpen" class="fas fa-bars fa-2x iconmenu" style="cursor: pointer;" onclick="changestate('open');"></i>
                        <i id="menuClose" class="fas fa-times fa-2x iconclose" style="cursor: pointer; display: none;" onclick="changestate('close');"></i>
                        <img id="imgLogo" onclick="window.location.href='Default.aspx';" src="~/assets/Images/IMG_Logo_Final.png" style="height: 40px; margin-top: -18px; cursor: pointer;">
                        <div class="float-right" style="margin: 14px 10px 0px 10px; cursor: pointer;" onclick="window.location.href='Page_Notifikasi.aspx';">
                            <i class="fas fa-envelope fa-2x"></i>
                            <div id="divBadgeNotifikasi">
                                <span class="badge badge-primary" style="position: fixed; margin: -40px 20px;">
                                    0
                                </span>
                            </div>
                        </div>
                        <div class="panelauthentication">
                            <b style="font-weight:bold">Muhamad Mukhasim (Security)</b><br>
                            <span style='font-size: 11px'>
                                Login Terakhir: <span id="lastLogin"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 panelmenu" style="background-color: #fff;">
                        <div class="scrollstyle" style="overflow-y: auto; height: 100%;">
                            <ul class="list-group" style="font-size: 14px;">
                                <li class="list-group-item border border-0 panelauthenticationmobile" style="background-color: #FFFFC0;">Hai, <b>Security</b></li>
                                <li class="list-group-item border border-0 hovermenu" style="cursor: pointer;" onclick="window.location.href='Page_Logout.aspx';"><i class="fas fa-sign-out-alt" style="margin-right: 7px;"></i><b>Logout</b></li>
                                <li class="list-group-item border border-0 active" style="cursor: pointer;">
                                    <i class="fas fa-home" style="margin-right: 7px;"> Beranda</i><a asp-controller="Security" asp-action="Index" style="color:black"></a>
                                </li>
                                <li class="list-group-item border border-0 hovermenu" style="cursor: pointer;" data-toggle="modal" data-target="#changeModal"><i class="fas fa-key" style="margin-right: 7px;"></i><b>Ubah Kata Sandi</b></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col panelcontent panelcontentweb" style="font-size: 14px;">
                        <div class="scrollstyle" style="overflow-y: auto; height: 100%; padding-right: 15px;">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb" style="padding: 0; margin: 0; background-color: #FFF;">
                                    <li class="breadcrumb-item text-primary">
                                        <b>
                                            Single Sign On Application
                                        </b>
                                    </li>
                                    <li class="breadcrumb-item"><b>Beranda</b></li>
                                </ol>
                            </nav>
                            <hr style="margin-top: .8em;">

                            <div class="accordion" id="accordionApp">
                                <div class="card z-depth-0" style="border: solid 1px #CCC;">
                                    <div class="card-header" id="heading11" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse11" style="cursor: pointer;">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed text-primary menuapp waves-effect waves-light" type="button" onclick="toggleLoginOptions()">Sistem Pengelolaan Paket</button>
                                        </h5>
                                    </div>
                                    <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionApp">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item border text-primary hovermenu" style="cursor: pointer;" onclick="window.location.href='@Url.Action("Index", "Security")';"><b>Login sebagai Security</b></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


