html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.modal {
    background: rgba(0, 0, 0, 0.7);
    opacity: 3.0; /* Sesuaikan dengan tingkat opacity yang diinginkan  */
}
